{% extends 'base.html.twig' %}

{% block title %}Agency index{% endblock %}

{% block body %}
    <h1>Agency index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Name</th>
                <th>Active</th>
                <th>Timezone</th>
                <th>TotalsPolicy</th>
                <th>Settings</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for agency in agencies %}
            <tr>
                <td>{{ agency.id }}</td>
                <td>{{ agency.code }}</td>
                <td>{{ agency.name }}</td>
                <td>{{ agency.active ? 'Yes' : 'No' }}</td>
                <td>{{ agency.timezone }}</td>
                <td>{{ agency.totalsPolicy ? agency.totalsPolicy|json_encode : '' }}</td>
                <td>{{ agency.settings ? agency.settings|json_encode : '' }}</td>
                <td>{{ agency.createdAt ? agency.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ agency.updatedAt ? agency.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_agency_crud_show', {'id': agency.id}) }}">show</a>
                    <a href="{{ path('app_agency_crud_edit', {'id': agency.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_agency_crud_new') }}">Create new</a>
{% endblock %}
